*.csv
FlexTool2D_data.sqlite
Results.sqlite
Results_template.sqlite
Input_data.sqlite
input_data_template.sqlite
paramNotWritten.dat
.spinetoolbox/local/
.spinetoolbox/items/flextool/output/
.spinetoolbox/items/exporttocsv/exported.json
.spinetoolbox/items/
results/
*.bak*
*.log
*.mps
*.sol
__pycache__
.idea/
site/