*.csv
!test/expected/**/*.csv
*.sqlite
templates/results_template.sqlite
files_comp_results.txt
paramNotWritten.dat
.spinetoolbox/local/
.spinetoolbox/items/flextool/output/
.spinetoolbox/items/exporttocsv/exported.json
.spinetoolbox/items/
results/
*.bak*
*.log
*.mps
*.sol
__pycache__
.idea/
site/
example_input.xlsx 
*.xls*
site/
input/
output/
output_plots/
output_parquet/
ouptut_plot_comparisons/
solve_data/
flextool-venv/
specs/
test/expected/
projects/
tests/unitTests.txt